@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: "Lato", sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6, span {
    color: #242424;
    text-align: center;
    line-height: 1.25;
}

h1 {
    font-size: 36px;
}

p {
    line-height: 1.5;
    font-size: 16px;
}

a {
    text-decoration: none;
    position: relative;
    transition: opacity 300ms ease;
}

i:hover {
    opacity: 0.7;
}

.link__hover-effect:after {
    content: "";
    position: absolute;
    height: 3px;
    width: 0;
    bottom: -3px;
    right: 0;
    transition: all 300ms ease;
}

.link__hover-effect:hover:after {
    width: 100%;
    left: 0;
}

.link__hover-effect--darkgray:after {
    background-color: darkgray;
}

.link__hover-effect--black:after {
    background-color: black;
}

li {
    list-style-type: none;
}

.flex {
    display: flex;
}

.flex-1 {
    flex: 1;
}

.container {
    padding: 50px 0;
}

.row {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 0 12px;
}

.text--purple {
    color: #6030b1;
}

section:nth-child(even) {
    background-color: #f8f8f8;
}

.section__title {
    margin-bottom: 20px;
    padding: 0 16px;
}


/*
    NAVIGATION BAR
*/


nav {
    height: 100px;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 12px;
}

.nav__link--list {
    display: flex;
}

.nav__link--anchor {
    margin: 0 12px;
    color: #242424;
    font-weight: 700;
}

.nav__link--anchor-primary {
    background-color: #6030b1;
    padding: 8px 20px;
    border-radius: 50px;
    color: white;
    transition: all 300ms ease;
}

.nav__link--anchor-primary:hover {
    background-color: #5d3eff;
}

.personal__logo {
    font-size: 24px;
    color: #6030b1;
    margin: 0 12px;
    font-weight: bold;
}


/*
    ABOUT ME
*/

#about-me {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.about-me__info {
    display: flex;
    flex-direction: column;
}

.about-me__info--container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    max-width: 900px;
    margin: 0 auto;
    text-align: center;
    padding: 0 32px;
}

.about-me__picture--mask {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
    margin-bottom: 28px;
    animation: animate-profile-picture 800ms 200ms backwards;
}

@keyframes animate-profile-picture {
    0% {
        transform: scale(0);
    }
    80% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

.about-me__picture {
    width: 100%;

    /*IMPROVING MY PROFILE PICTURE*/
    transform: scale(1.5);
    padding-top: 4px;
}

.about-me__info--title {
    margin-bottom: 16px;
    animation: fade-up 650ms 400ms backwards;
}

.smiley {
    display: inline-block;
    animation: animate-smiley 2000ms infinite ease-in-out;
}

@keyframes animate-smiley {
    0% {
        transform: rotate(0deg);
    }
    15% {
        transform: rotate(14deg);
    }
    30% {
        transform: rotate(-8deg);
    }
    40% {
        transform: rotate(14deg);
    }
    50% {
        transform: rotate(-4deg);
    }
    60% {
        transform: rotate(10deg);
    }
    70% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

.about-me__info--paragraph {
    font-size: 16px;
    margin-bottom: 28px;
    animation: fade-up 650ms 600ms backwards;
}

.about-me__linkscontainer {
    margin-bottom: 28px;
    animation: fade-up 650ms 800ms backwards;
}

.about-me__link {
    font-size: 20px;
    color: #242424;
    padding: 0 16px;
    animation: fade-up 650ms 575ms backwards;
}

@keyframes fade-up {
    0% {
        opacity: 0;
        transform: translateY(40px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.about-me__img--container {
    flex: 1;
    display: flex;
    align-items: center;
    max-width: 400px;
    margin-bottom: 28px;
}

.about-me__img {
    width: 100%;
    animation: imgfade-in 1200ms 800ms backwards;
}

@keyframes imgfade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


/*
    LANGUAGES, TECHNOLOGY STACKS
*/


.language__list {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
}

.language {
    width: 25%;
    display: flex;
    justify-content: center;
    position: relative;
}

.language__img--wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px 16px;

}

.language__img {
    width: 100%;
    max-width: 100px;
}

.language:hover .language__img {
    filter: brightness(80%);
    opacity: 0.86;
    transform: scale(0.9);
    transition: all 300ms;
}

.language__img--caption {
    position: absolute;
    bottom: 0;
    transform: scale(0);
    transition: all 300ms;
    opacity: 0;
}

.language:hover .language__img--caption {
    transform: scale(1);
    opacity: 1;
}


/*
    PROJECTS
*/


.project {
    margin-bottom: 135px;
}

.project:last-child {
    margin-bottom: 40px;
}

.project__list {
    padding-top: 40px;
}

.project__wrapper {
    display: flex;
    box-shadow: 0 20px 80px rgba(0,0,0,0.45);
    border-radius: 20px;
    overflow: hidden;
    position: relative;
}

.project__img {
    width: 100%;
    transition: all 500ms ease;
}

.project__wrapper:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #1c1d25;
    opacity: 0;
    transition: opacity 450ms ease;
    z-index: 2;
}

.project:hover .project__wrapper:before {
    opacity: 0.7;
}

.project:hover .project__img {
    transform: scale(1.07);
    filter: blur(5px);
}

.project:hover .project__description {
    opacity: 1;
    transform: translateY(-50%)
}

.project__description {
    position: absolute;
    top: 50%;
    left: 90px;
    transform: translateY(100%);
    max-width: 550px;
    z-index: 3;
    opacity: 0;
    transition: transform 450ms, opacity 300ms;
}

.project__description--title {
    font-size: 40px;
}

.project__description--paragraph {
    margin:  16px 0;
}

.project__description--link-container {
    font-size: 20px;
    margin-right: 16px;
}

.project__description--title, 
.project__description--subtitle,
.project__description--paragraph,
.project__description--link-container {
    text-align: left;
    color: #fff;
}


/*
    FOOTER
*/

footer {
    background-color: #161411;
}

.footer__row {
    display: flex;
    flex-direction: column;
    padding: 8% 0;
    align-items: center;
    justify-content: center;
}

.footer__logo--img {
    width: 100%
}

.footer__socials--list {
    width: 100%;
    max-width: 400px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 32px;
}

.footer__socials--link,
.footer__copyright,
.footer__logo--popper {
    color: darkgray;
}

.footer__logo--popper {
    position: absolute;
    top: 48px;
    font-weight: 700;
    right: 0;
    opacity: 0;
    transition: transform 300ms, opacity 450ms ease;
}

.footer__anchor {
    position: relative;
    margin-bottom: 20px;
    width: 80px;
    height: 80px;
    
}

.footer__anchor:hover .footer__logo--popper {
  transform: translateX(40px);
  opacity: 1;
}


/*
    TABLETS, LARGE PHONES
*/
    
@media (max-width: 768px) {
    nav {
        height: 68px;
    }

    h1 {
        font-style: 28px;
    }

    .about-me__info--container {
        padding: 0 40px;
    }

    .about-me__info--paragraph {
        font-size: 14px;
    }

    .language {
        width: calc(100% /3);
    }

    .project__description--paragraph,
    .footer__socials--link,
    .footer__copyright {
        font-size: 14px;
    }

    .footer__socials--list {
        justify-content: space-around;
    }

    .project__description {
    left: 50px;
    padding-right: 50px;
  }

  .project__description--title {
    font-size: 32px;
  }

  .project__description--subtitle,
  .project__description--paragraph {
    font-size: 14px;
  }

}


/*
    SMALL PHONES
*/

@media (max-width: 480px) {

    .about-me__info--container {
        padding: 0 16px;
    }

    .nav__link:not(:last-child) {
        display: none;
    }

    .project__description--paragraph {
        display: none;
    }

    .project__description--subtitle {
        padding: 12px 0;
    }


}